body{
    background-color: rgb(104, 215, 230);
}

#container{
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 500px; 
    margin: auto; 
    margin-top: 100px; 
    border: outset rgb(0, 0, 0) 1px; 
    padding: 10px; 
}

#buttons{
    text-align: center; 
    display: grid;
    grid-template: auto / auto auto;
}

button{
    font-size: 1rem; 
    background-color: rgb(255, 255, 255); 
    color: black; 
    border-radius: 25px; 
}


button:hover{
    background-color: rgb(110, 150, 136); 
    cursor: pointer; 
}


label{
    font-size: 1rem; 
}


h1{
    text-align: center; 
}